<div class="col-sm-3">
    <div class="product-item">
        <div class="product-image">
            <a href="{% url 'product' product.product.id %}">
                <img src="{{ product.image.url }}" class="img-responsive" alt="img">
            </a>
        </div>
        {% if product.product.discount %}
            <div class="discount-container">
                <span>{{ product.product.discount }}%</span>
            </div>
        {% endif %}
        <h4>{{ product.product.name }}</h4>
        <p>{{ product.product.description|truncatechars_html:128 }}</p>
        <div class="add-to-cart-btn">
            <div class="price">
                {{ product.product.price }} RU
            </div>
            <button class="btn btn-success">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>